In [5]:
import pandas as pd
import numpy as np
arr = np.array(['P','a','n','d','a','s'])
print(arr)
arr_series = pd.Series(arr)
print(arr_series)

['P' 'a' 'n' 'd' 'a' 's']
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [7]:
list = ['Samridh','Palleda','LTSU']
df = pd.DataFrame(list)
print(df)

         0
0  Samridh
1  Palleda
2     LTSU

In [10]:
x = pd.Series(['Apple','Orange','Banana'])
print(x)
print("Series after mappong:- ")
x.map({'Apple':'Grapes'})

0     Apple
1    Orange
2    Banana
dtype: object
Series after mappong:-

0    Grapes
1       NaN
2       NaN
dtype: object

In [13]:
y = pd.Series(['A','b','c'])
y.map({'A':'a'})

0      a
1    NaN
2    NaN
dtype: object

In [16]:
y.map("I like {}".format,na_action=None)

0    I like A
1    I like b
2    I like c
dtype: object

In [18]:
roll_no = pd.Series([101,102,103,104,105],name="Roll_Number")
roll_no.to_frame()

   Roll_Number
0          101
1          102
2          103
3          104
4          105

In [19]:
import matplotlib.pyplot as plt
emp = ['Samridh','Shubham','Raj','Bablu']
salary = [1000,2000,3000,4000,5000]
emp_series = pd.Series(emp)
salary_series = pd.Series(salary)
table = {'Employee':emp_series,'Salary':salary_series}
print(pd.DataFrame(table))

  Employee  Salary
0  Samridh    1000
1  Shubham    2000
2      Raj    3000
3    Bablu    4000
4      NaN    5000