In [2]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
list = ['red','green','blue']
df = pd.DataFrame(list)
print(df)

       0
0    red
1  green
2   blue

In [4]:
data = {'Roll_Number':[100,101,102],'Name':['Sam','Ram','Raj']}
df = pd.DataFrame(data)
print(df)

   Roll_Number Name
0          100  Sam
1          101  Ram
2          102  Raj

In [5]:
data = {'Colour':pd.Series(['Red','Green','Blue','Black'],index=[1,2,3,4]),'Fruits':pd.Series(['Apple','Banana','Orange'],index=[1,2,3])}
d1 = pd.DataFrame(data)
print(d1)
print()
print(d1['Fruits'])

  Colour  Fruits
1    Red   Apple
2  Green  Banana
3   Blue  Orange
4  Black     NaN

1     Apple
2    Banana
3    Orange
4       NaN
Name: Fruits, dtype: object

In [7]:
data1 = {'Name':pd.Series(['Sam','Ram','Raj'],index=[1,2,3]),'Roll Number':pd.Series([100,101,102],index=[1,2,3])}
df1=pd.DataFrame(data1)
print(df1)
print("\n Adding new column by passing series:- ")
df1['Age']=pd.Series([19,20,23],index=[1,2,3])
print(df1)
print("\n Adding new column using existing columns:-")
df1['Sum']=df1['Roll Number']+df1['Age']
print(df1)

  Name  Roll Number
1  Sam          100
2  Ram          101
3  Raj          102

 Adding new column by passing series:-
  Name  Roll Number  Age
1  Sam          100   19
2  Ram          101   20
3  Raj          102   23

 Adding new column using existing columns:-
  Name  Roll Number  Age  Sum
1  Sam          100   19  119
2  Ram          101   20  121
3  Raj          102   23  125

In [11]:
data1 = {'Name':pd.Series(['Sam','Ram','Raj'],index=[1,2,3]),'Roll Number':pd.Series([100,101,102],index=[1,2,3])}
print("The DataFrame is:- ")
df=pd.DataFrame(data1)
print(df)
print("\nDeleting a column:-")
df.pop('Name')
print(df)

The DataFrame is:-
  Name  Roll Number
1  Sam          100
2  Ram          101
3  Raj          102

Deleting a column:-
   Roll Number
1          100
2          101
3          102

In [24]:
data = {'ID':pd.Series([101,102,103],index=[1,2,3]),'Age':pd.Series([20,23,34],index=[1,2,3])}
df = pd.DataFrame(data)
print(df)
print("\nDisplaying a specified row:-")
print(df.iloc[1])

    ID  Age
1  101   20
2  102   23
3  103   34

Displaying a specified row:-
ID     102
Age     23
Name: 2, dtype: int64

In [17]:
data1 = {'Name':pd.Series(['Sam','Ram','Raj','Ravi','Yash'],index=[1,2,3,4,5]),'Roll Number':pd.Series([100,101,102,103,104],index=[1,2,3,4,5])}
df=pd.DataFrame(data1)
print(df)
print("\nSlicing Rows:-")
print(df[1:4])

   Name  Roll Number
1   Sam          100
2   Ram          101
3   Raj          102
4  Ravi          103
5  Yash          104

Slicing Rows:-
   Name  Roll Number
2   Ram          101
3   Raj          102
4  Ravi          103

In [25]:
data = pd.DataFrame([[1,2],[3,4]],columns=['x','y'])
print(data)
print("\nAdding new row:-")
d1 = pd.DataFrame([[7,8]],columns=['x','y'])
data=data.append(d1)
print(data)
data=data.drop(1)
print("\nDeleting a row:-")
print(data)

   x  y
0  1  2
1  3  4

Adding new row:-
   x  y
0  1  2
1  3  4
0  7  8

Deleting a row:-
   x  y
0  1  2
0  7  8

<ipython-input-25-b561bfde033f>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(d1)